chat {
    .msgWatson {
        
    }

    .msgUsuario {
        text-align: right;
    }

    .msgRemetente {
        color: grey;
        margin-bottom: 5px;
    }

    .msgEnviada {
        font-size: 18px;
        margin-top: 5px;
    }
}